<!DOCTYPE html>

<html>

<head>
    <title>About</title>
     <link rel="icon" href="/img/weather.jpg">

    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <div class="main-content">

        {{>header}}
        <img class="potrait" src="./img/PP PHOTO Akshat.jpg">
        <p><span style="font-weight:bold">Hi, I am Akshat Saxena. Currently pursuing B.Tech in Computer Science and Engineering from NIT SURAT</span> </p>
    </div>
    {{>footer}}

</body>

</html>